@use 'sass:math';

@function rem-calc($size) {
  @return (math.div($size, 16)) * 1rem;
}

// Font settings
// $font-family-base:           'Roboto', sans-serif;
// $heading-family-base:        'Otomanopee One', sans-serif;

$font-size-base:             rem-calc(16);
$font-size-medium:           rem-calc(18);

$heading-size-tiny:          rem-calc(24);
$heading-size-small:         rem-calc(32);
$heading-size-big:           rem-calc(45);
$heading-size-bigger:        rem-calc(100);
$heading-size-enormous:      rem-calc(140);

$line-height-base:           1.5;
$line-height-small:          1.25;

$font-weight-normal:         400;
$font-weight-bold:           700;
$font-weight-base:           $font-weight-normal;

// Size settings
$gutter-base:                rem-calc(30);

// Color settings
$text-color-base:            #111;
$text-color-primary:         #84cf61;

$background-color-base:      #FFF;
$background-color-primary:   #84cf61;

$hover-color:                darken(#84cf61  , 10%);
$disabled-color:             lighten(#84cf61  , 10%);